
/* Contract expiry */


.expiry-card {


    min-height:350px;


}




.contract-expiry__item {


    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:12px 0;


    border-bottom:1px solid #f0f1f3;


}

