.app-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.app-layout{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    
    
    /* position: relative; */
    
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: start;
    padding: 1rem;
    
    max-height: 100vh;
    gap: 1rem;

    
    overflow: hidden;
    width: 100%;
    /* width: 100vw;  */
    /* position: relative; */
    /* isolation: isolate; */
}






.app-layout::before,
.app-layout::after {
    content: '';
    
    /* position: absolute; */
    border-radius: 50%;
    
    pointer-events: none;
    z-index: -1;
    
    opacity: 0.18;           /* Much lighter */
    /* filter: blur(20px);     Soft, distant look */
    
    transform: translateZ(0);
    background: black;
    position: fixed;
}

.app-layout::before {
    width: 550px;
    height: 550px;

    top: -200px;
    left: -180px;

    animation: blobOne 14s ease-in-out infinite;
}

.app-layout::after {
    width: 450px;
    height: 450px;

    bottom: -180px;
    right: -150px;

    animation: blobTwo 18s ease-in-out infinite;
}



















@keyframes blobOne {
    0%,100% {
        transform: translate(0,0) scale(1);
    }
    50% {
        transform: translate(90px,70px) scale(1.25);
    }
}

@keyframes blobTwo {
    0%,100% {
        transform: translate(0,0) scale(1);
    }
    50% {
        transform: translate(-70px,-60px) scale(1.2);
    }
}
