*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}









:root {
  --bg-primary: hsl(0, 0%, 95%);
  --bg-secondary: hsl(0, 0%, 90%);
  --text-primary: #111111;
  --text-secondary: #555555;
  --card-bg: #ffffff;
  --border-color: #ddd;
  /* --accent: #f1af07; */
  /* --accent: #16a34a; */
  --accent: hsl(120, 72%, 44%);
  /* --bg-schedule-complete:#d4edda; */
  --bg-schedule-complete:hsl(139, 40%, 78%);
  /* --bg-schedule-cancelled:#721c24; */
  --bg-schedule-cancelled:hsl(0, 95%, 68%);
  
  /* --stat-active-start:hsl(0, 0%, 98%); */
  --stat-active-start: hsl(102, 70%, 82%);
  --stat-expiring-start: hsl(54, 80%, 82%);
  --stat-expired-start: hsl(19, 80%, 82%);
  
}


/* Dark Theme */
[data-theme="dark"] {
    --bg-primary: hsl(0, 0%, 10%);
    --bg-secondary: hsl(0, 0%, 5%);
    --text-primary: #ffffff;
    --text-secondary: #aaaaaa;
    --card-bg: #1a1a1a;
    --border-color: #333;
    /* --accent: #f1af07; */
    --accent: hsl(42, 100%, 44%);
    
    --stat-active-start: hsl(102, 55%, 18%);
    --stat-expiring-start: hsl(49, 65%, 18%);
    --stat-expired-start: hsl(15, 65%, 18%);
    --bg-schedule-complete:hsl(139, 13%, 24%);
    --bg-schedule-cancelled:hsl(0, 68%, 24%);
}






/* @media (prefers-color-scheme: dark) {
    :root {
    --bg-primary: #121212;
    --bg-secondary: #1e1e1e;
    --text-primary: #ffffff;
    --text-secondary: #aaaaaa;
    --card-bg: #1a1a1a;
    --border-color: #333;
    --accent: #60a5fa;
    }
} */
